<div class="container">
  <div class="p-5 d-flex justify-content-around">
    <div class="row search-row">
      <div class="col-10">
        <%= form_tag offices_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control searchbar",
        placeholder: "Find a coworking space by name, city, address ..."
        %>
      </div>
      <div class="col-2">
        <%= submit_tag "Search", class: "login-btn" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="p-5 d-flex">
    <h2>Coworking spaces</h2>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-sm-6 col-md-8">
    <div class="row">
      <% @offices.each do |office| %>
        <div class="clash-card barbarian my-5 mx-5">
          <div class="clash-card__image clash-card__image--barbarian">
            <% if office.photo.attached? %>
            <%= cl_image_tag office.photo.key, height: 252, width: 252, crop: :fill %>
            <% else %>
            <img src="https://cdn.glitch.com/c13537fc-8924-4dee-b876-b562eed68eae%2Fpikachu-removebg-preview.png?v=1605611430597" height="252px" width="247px" alt="pikachu" />
            <% end %>
            </div>
            <div class="clash-card__unit-name"><%= link_to office.name, office_path(office) %></div>
            <div class="clash-card__level clash-card__level--barbarian">Level <%= office.level %></div>
            <div class="clash-card__unit-description"> <%= office.description %> </div>
            <div class="clash-card__unit-stats clash-card__unit-stats--barbarian">
              <div class="one-third no-border">
                <div class="stat"><%= office.price %>€/d</div>
              </div>
            </div>
        </div>
      <% end %>
  </div>
      <div class="col-6 col-md-4">
      <div id="map" data-markers="<%= @markers.to_json %>"  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" ></div>
    </div>
</div>
